# Get Lexicon

For the `20210515` run, we just used re-used the lexicon from `20200224`. Also, we didn't try filtering out non-human pathways this time, unlike the process we used for `20200224`, where we excluded figures from papers where PubTator had identified at least one species and none of those species were human or mouse.

For the next run, it would be good to finish this notebook to get an updated lexicon and get species information for the papers. [The notes from our old codebook](https://github.com/wikipathways/pathway-figure-ocr/blob/76ae219e65bcc723bbeaa3b82744b4aec78fc9d7/codebook.md#generating-files-and-initial-tables) may be useful for how to do this.

In [4]:
%load_ext sql

In [1]:
import csv
import hashlib
import io
import json
import os
import re
import subprocess
import sys
import warnings
from itertools import zip_longest
from pathlib import Path, PurePath
from pprint import pprint

import numpy as np
import pandas as pd
import requests
import requests_cache
import seaborn as sns

# from wand.image import Image
from IPython.display import Image
from nltk.metrics import edit_distance

In [35]:
target_date = "20210513"
images_dir = Path(f"../data/images/{target_date}")

## Old Lexicon

In [30]:
%sql postgresql:///pfocr20200224

In [33]:
%%sql lexicon2020 << SELECT symbol, xref as ncbigene_id, source
FROM lexicon
INNER JOIN xrefs ON lexicon.xref_id = xrefs.id
INNER JOIN symbols ON lexicon.symbol_id = symbols.id;

 * postgresql:///pfocr20200224
60244 rows affected.
Returning data to local variable lexicon2020

In [34]:
lexicon2020_df = lexicon2020.DataFrame()
lexicon2020_df

          symbol ncbigene_id             source
0         S863-7           2  hgnc_alias_symbol
1         FWP007           2  hgnc_alias_symbol
2         CPAMD5           2  hgnc_alias_symbol
3            A2M           2        hgnc_symbol
4           AAC2          10   hgnc_prev_symbol
...          ...         ...                ...
60239  C17orf113   110806298        hgnc_symbol
60240   CSNKA2IP   111064647        hgnc_symbol
60241   C19orf85   111064650        hgnc_symbol
60242    IFITMD9   111216276  hgnc_alias_symbol
60243      PMIS2   111216276        hgnc_symbol

[60244 rows x 3 columns]

In [37]:
with open(images_dir.joinpath("lexicon2020.json"), "w") as f:
    lexicon2020_df.to_json(f)

## Updated Lexicon

I'm trying to translate [these steps](https://github.com/wikipathways/pathway-figure-ocr/blob/7b34d23982c7812ec98256ab1caf8c6ca3abccbb/codebook.md#generating-files-and-initial-tables) into Python in order to build a list of gene symbols to look for in the OCR text, but I haven't finished this yet. Status of the three main sources:

- HGNC: done
- bioentities: in progress
- WikiPathways: not yet started

For the bioentities file, it appears there are inconsistencies in mapping bioentities to NCBI Gene IDs. See that section below for more details.

In [2]:
print(requests_cache.__file__)

/nix/store/ig1jyhw2kyjy1hb13zfzmkqqdmgi94mp-python3-3.8.8-env/lib/python3.8/site-packages/requests_cache/__init__.py

In [3]:
requests_cache.install_cache("pfocr_cache")

In [4]:
%load_ext sql

In [5]:
sns.set_style("dark")

In [6]:
import Levenshtein
import Levenshtein_search
import polyleven

## HGNC

In [7]:
hgnc_data_url = "https://www.genenames.org/cgi-bin/download/custom?col=gd_hgnc_id&col=gd_app_sym&col=gd_app_name&col=gd_status&col=gd_prev_sym&col=gd_aliases&col=gd_pub_acc_ids&col=gd_locus_type&col=gd_date_mod&col=family.id&col=gd_locus_group&col=gd_name_aliases&col=gd_date_sym_change&col=gd_pub_eg_id&col=family.name&col=gd_date_name_change&col=gd_prev_name&col=gd_date2app_or_res&status=Approved&hgnc_dbtag=on&order_by=gd_app_sym_sort&format=text&submit=submit"
hgnc_data = []
r = requests.get(hgnc_data_url, stream=True)
for record in csv.DictReader(
    (line.decode("utf-8") for line in r.iter_lines()), delimiter="\t"
):
    hgnc_data.append(record)

In [8]:
print(len(hgnc_data))
hgnc_data[:2]

42549

[{'HGNC ID': 'HGNC:5',
  'Approved symbol': 'A1BG',
  'Approved name': 'alpha-1-B glycoprotein',
  'Status': 'Approved',
  'Previous symbols': '',
  'Alias symbols': '',
  'Accession numbers': '',
  'Locus type': 'gene with protein product',
  'Date modified': '2020-09-17',
  'Gene group ID': '594',
  'Locus group': 'protein-coding gene',
  'Alias names': '',
  'Date symbol changed': '',
  'NCBI Gene ID': '1',
  'Gene group name': 'Immunoglobulin like domain containing',
  'Date name changed': '',
  'Previous name': '',
  'Date approved': '1989-06-30'},
 {'HGNC ID': 'HGNC:37133',
  'Approved symbol': 'A1BG-AS1',
  'Approved name': 'A1BG antisense RNA 1',
  'Status': 'Approved',
  'Previous symbols': 'NCRNA00181, A1BGAS, A1BG-AS',
  'Alias symbols': 'FLJ23569',
  'Accession numbers': 'BC040926',
  'Locus type': 'RNA, long non-coding',
  'Date modified': '2013-06-27',
  'Gene group ID': '1987',
  'Locus group': 'non-coding RNA',
  'Alias names': '',
  'Date symbol changed': '2010-11-25',
  'NCBI Gene ID': '503538',
  'Gene group name': 'Antisense RNAs',
  'Date name changed': '2012-08-15',
  'Previous name': 'non-protein coding RNA 181, "A1BG antisense RNA (non-protein coding)", "A1BG antisense RNA 1 (non-protein coding)"',
  'Date approved': '2009-07-20'}]

In [9]:
raw_hgnc_df = (
    pd.DataFrame(hgnc_data)[
        [
            "HGNC ID",
            "NCBI Gene ID",
            # "Status",
            "Approved symbol",
            "Approved name",
            "Alias symbols",
            "Alias names",
            "Previous symbols",
            "Previous name",
        ]
    ]
    .rename(
        columns={
            "HGNC ID": "hgnc_id",
            "NCBI Gene ID": "ncbigene_id",
            "Approved symbol": "approved_symbol",
            "Approved name": "approved_name",
            "Alias symbols": "alias_symbols",
            "Alias names": "alias_names",
            "Previous symbols": "previous_symbols",
            "Previous name": "previous_name",
        }
    )
    .replace("", np.nan)
)
print(len(raw_hgnc_df))
# raw_hgnc_df

42549

"ambiguous symbols" are those that map to multiple ncbigene ids

- `94436` when keeping first approved ambiguous symbol
- `92535` when dropping all rows with ambiguous symbols

In [10]:
hgnc_df = raw_hgnc_df[raw_hgnc_df["ncbigene_id"].notnull()]

name_columns = ["approved_name", "previous_name", "alias_name"]

hgnc_df = (
    hgnc_df.assign(
        alias_symbol=hgnc_df["alias_symbols"].str.split(", "),
        alias_name=hgnc_df["alias_names"].str.split(", "),
        previous_symbol=hgnc_df["previous_symbols"].str.split(", "),
    )
    .explode("alias_symbol")
    .explode("alias_name")
    .explode("previous_symbol")
    .drop(
        columns=["alias_symbols", "alias_names", "previous_symbols"]
        + name_columns
    )
    .melt(
        id_vars=["hgnc_id", "ncbigene_id"],
        value_vars=["approved_symbol", "alias_symbol", "previous_symbol"],
        var_name="source",
        value_name="symbol",
    )
    .dropna()
    # drop exact duplicates
    .drop_duplicates()
)

hgnc_df = hgnc_df[
    (hgnc_df["source"] == "approved_symbol")
    | (hgnc_df["symbol"].str.len() >= 3)
]

variables_by_priority = {
    "approved_symbol": 0,
    "previous_symbol": 1,
    "alias_symbol": 2,
}

hgnc_df["priority"] = hgnc_df["source"].apply(
    lambda x: variables_by_priority[x]
)

# For rows with ambiguous symbols, keep the first for every symbol and drop the rest.
# Note the sorting is approved before previous before alias.
hgnc_df = (
    hgnc_df.sort_values(by=["priority"])
    .drop_duplicates(subset=["symbol"])
    .drop(columns=["priority"])
)

# we don't want this
# drop all rows with ambiguous symbols
# hgnc_df = hgnc_df.drop_duplicates(subset=["value"], keep=False)

hgnc_df

           hgnc_id ncbigene_id           source    symbol
0           HGNC:5           1  approved_symbol      A1BG
58949   HGNC:42824   100873287  approved_symbol  RNA5SP48
58950   HGNC:42825   100873288  approved_symbol  RNA5SP49
58951   HGNC:42827   106478992  approved_symbol  RNA5SP50
58952   HGNC:42828   100873289  approved_symbol  RNA5SP51
...            ...         ...              ...       ...
139992  HGNC:15864       10616     alias_symbol     HOIL1
139993  HGNC:26120       79863     alias_symbol  FLJ21172
139994  HGNC:26120       79863     alias_symbol    HsT169
140024  HGNC:28842       83759     alias_symbol  MGC10871
98958   HGNC:32690      414918     alias_symbol     AFI1B

[94436 rows x 4 columns]

## Bioentities

In [11]:
bioentities_data_url = "https://raw.githubusercontent.com/wikipathways/bioentities/master/relations.csv"
bioentities_data = []
r = requests.get(bioentities_data_url, stream=True)
for record in csv.DictReader(
    (line.decode("utf-8") for line in r.iter_lines()),
    fieldnames=["type", "symbol", "isa", "type2", "bioentity"],
):
    bioentities_data.append(record)

bioentities_df = pd.DataFrame(bioentities_data)
# There are 9 entries from UP (UniProt). They are duplicates the HGNC entries, so we ignore them.
bioentities_df = (
    bioentities_df[
        bioentities_df["type"].isin(
            {
                "HGNC",
                "BE",
            }
        )
    ]
).drop(columns=["isa", "type2"])
bioentities_df

      type    symbol bioentity
0     HGNC  EIF4EBP1   EIF4EBP
1     HGNC  EIF4EBP2   EIF4EBP
2     HGNC  EIF4EBP3   EIF4EBP
3     HGNC     ACTA1     Actin
4     HGNC     ACTA2     Actin
...    ...       ...       ...
2305  HGNC     ITGB4  Integrin
2306  HGNC     ITGB5  Integrin
2307  HGNC     ITGB6  Integrin
2308  HGNC     ITGB7  Integrin
2309  HGNC     ITGB8  Integrin

[2301 rows x 3 columns]

There are no missing values:

In [12]:
print(bioentities_df.replace("", np.nan).isna().sum().sum())
bioentities_df.replace("", np.nan).isna().any()

0

type         False
symbol       False
bioentity    False
dtype: bool

In [13]:
joined_df = bioentities_df.merge(
    hgnc_df[["ncbigene_id", "symbol"]], how="left", on="symbol"
)
joined_df

      type    symbol bioentity ncbigene_id
0     HGNC  EIF4EBP1   EIF4EBP        1978
1     HGNC  EIF4EBP2   EIF4EBP        1979
2     HGNC  EIF4EBP3   EIF4EBP        8637
3     HGNC     ACTA1     Actin          58
4     HGNC     ACTA2     Actin          59
...    ...       ...       ...         ...
2296  HGNC     ITGB4  Integrin        3691
2297  HGNC     ITGB5  Integrin        3693
2298  HGNC     ITGB6  Integrin        3694
2299  HGNC     ITGB7  Integrin        3695
2300  HGNC     ITGB8  Integrin        3696

[2301 rows x 4 columns]

In [14]:
set(joined_df["type"].to_list())

{'BE', 'HGNC'}

In [15]:
joined_df[joined_df["ncbigene_id"].isnull()]

      type      symbol bioentity ncbigene_id
9       BE   Activin_A   Activin         NaN
10      BE  Activin_AB   Activin         NaN
11      BE   Activin_B   Activin         NaN
12      BE   Inhibin_A   Inhibin         NaN
13      BE   Inhibin_B   Inhibin         NaN
...    ...         ...       ...         ...
2127    BE  Troponin_I  Troponin         NaN
2128    BE  Troponin_T  Troponin         NaN
2183  HGNC      GRIN2A     NMDAR         NaN
2240    BE       MAP2K     MAPKK         NaN
2280  HGNC       ITGA6  Integrin         NaN

[96 rows x 4 columns]

In [16]:
joined_df[joined_df["bioentity"] == "AMPK_alpha"]

    type  symbol   bioentity ncbigene_id
28  HGNC  PRKAA1  AMPK_alpha        5562
29  HGNC  PRKAA2  AMPK_alpha        5563

In [17]:
joined_df[joined_df["symbol"] == "HSP90A"]

    type  symbol bioentity ncbigene_id
231   BE  HSP90A     HSP90         NaN

In [18]:
def get_hierarchy_levels(bioentity, hierarchy_levels=None):
    # ******
    # The bioentities appear to be at least sometimes in a hierarchical
    # relationship. This function traces the path up the hierarchy for
    # a bioentity in joined_df.
    # ******

    if not hierarchy_levels:
        # make the trace include the lowest (first) item
        hierarchy_levels = bioentity

    # We're trying to go one level up the hierarchy.
    # If this bioentity has a parent bioentity, then this bioentity will be
    # listed as a symbol in a row where the parent bioentity is listed in the
    # bioentity column. I don't know whether we should expect multiple results.
    match_column = joined_df[joined_df["symbol"] == bioentity]["bioentity"]
    if len(match_column) > 0:
        ancestor = match_column.to_list()[0]

        if ancestor in hierarchy_levels.split(","):
            return hierarchy_levels
        # TODO: when I use a list for hierarchy_levels, the column values in the df end
        # up all being the same, but when I use a string, they each properly
        # show the different trace for their specific row. Why?
        # if ancestor in hierarchy_levels:
        #    return hierarchy_levels
        # hierarchy_levels.insert(0, ancestor)

        return get_hierarchy_levels(
            ancestor, ",".join([ancestor, hierarchy_levels])
        )

    return hierarchy_levels


joined_df["hierarchy_levels"] = joined_df["bioentity"].apply(
    # TODO: see comment in fn about str vs. list
    lambda x: get_hierarchy_levels(x).split(",")
)

joined_df = joined_df.assign(
    hierarchy_apex=joined_df["hierarchy_levels"].apply(lambda x: x[0]),
    level_number=joined_df["hierarchy_levels"].apply(lambda x: len(x)),
)

joined_df

,type,symbol,bioentity,ncbigene_id,hierarchy_levels,hierarchy_apex,level_number
0,HGNC,EIF4EBP1,EIF4EBP,1978,[EIF4EBP],EIF4EBP,1
1,HGNC,EIF4EBP2,EIF4EBP,1979,[EIF4EBP],EIF4EBP,1
2,HGNC,EIF4EBP3,EIF4EBP,8637,[EIF4EBP],EIF4EBP,1
3,HGNC,ACTA1,Actin,58,[Actin],Actin,1
4,HGNC,ACTA2,Actin,59,[Actin],Actin,1
...,...,...,...,...,...,...,...
2296,HGNC,ITGB4,Integrin,3691,[Integrin],Integrin,1
2297,HGNC,ITGB5,Integrin,3693,[Integrin],Integrin,1
2298,HGNC,ITGB6,Integrin,3694,[Integrin],Integrin,1
2299,HGNC,ITGB7,Integrin,3695,[Integrin],Integrin,1
2300,HGNC,ITGB8,Integrin,3696,[Integrin],Integrin,1

In [19]:
joined_df["level_number"].max()

3

In [20]:
joined_df[joined_df["level_number"] == 3]

,type,symbol,bioentity,ncbigene_id,hierarchy_levels,hierarchy_apex,level_number
233,HGNC,HSP90AA1,HSP90AA,3320,"[HSP90, HSP90A, HSP90AA]",HSP90,3
623,HGNC,MAP2K1,MEK,5604,"[MAPKK, MAP2K, MEK]",MAPKK,3
624,HGNC,MAP2K2,MEK,5605,"[MAPKK, MAP2K, MEK]",MAPKK,3
1428,HGNC,PIK3R1,PI3K_p85,5295,"[PI3K, PIK3R_I, PI3K_p85]",PI3K,3
1429,HGNC,PIK3R2,PI3K_p85,5296,"[PI3K, PIK3R_I, PI3K_p85]",PI3K,3

I'm not sure how to interpret the following pattern in the bioentities, but it appears to be a mistake. As far as I can tell, `MAP2K`, `MAPKK` and `MEK` are synonyms, and every one of them each refers to the following collection of NCBI Gene IDs: `5604`, `5605`, `5606`, `5607`, `5608`, `5609`, `6416`. But `STAT` and `STAT5` are not synonyms. `STAT` refers to the NCBI Gene IDs `6772`, `6773`, `6774`, `6775`, `6776`, `6776`, `6777`, `6778`, but `STAT5` only refers to `6776` and `6777`.

In the df, we have the following `BE` relationships for rows with hierarchy apex `MAPKK`:
- `MAPKK` & `MAP2K`
- `MAP2K` & `MEK`

and for rows with hierarchy apex `STAT`:
- `STAT` & `STAT5`

If `BE` indicates synonyms, we get the correct results for `MAP2K`, `MAPKK` and `MEK` but the wrong results for `STAT` and `STAT5`.

In [21]:
joined_df[(joined_df["hierarchy_apex"] == "MAPKK")]

,type,symbol,bioentity,ncbigene_id,hierarchy_levels,hierarchy_apex,level_number
623,HGNC,MAP2K1,MEK,5604,"[MAPKK, MAP2K, MEK]",MAPKK,3
624,HGNC,MAP2K2,MEK,5605,"[MAPKK, MAP2K, MEK]",MAPKK,3
625,BE,MEK,MAP2K,NaN,"[MAPKK, MAP2K]",MAPKK,2
626,HGNC,MAP2K3,MAP2K,5606,"[MAPKK, MAP2K]",MAPKK,2
627,HGNC,MAP2K4,MAP2K,6416,"[MAPKK, MAP2K]",MAPKK,2
628,HGNC,MAP2K5,MAP2K,5607,"[MAPKK, MAP2K]",MAPKK,2
629,HGNC,MAP2K6,MAP2K,5608,"[MAPKK, MAP2K]",MAPKK,2
630,HGNC,MAP2K7,MAP2K,5609,"[MAPKK, MAP2K]",MAPKK,2
2240,BE,MAP2K,MAPKK,NaN,[MAPKK],MAPKK,1

In [22]:
joined_df[
    (joined_df["hierarchy_apex"] == "MAPKK") & (joined_df["type"] == "BE")
][["bioentity", "type", "symbol"]]

     bioentity type symbol
625      MAP2K   BE    MEK
2240     MAPKK   BE  MAP2K

In [23]:
joined_df[(joined_df["hierarchy_apex"] == "MAPKK")][
    "ncbigene_id"
].sort_values().dropna().to_list()

['5604', '5605', '5606', '5607', '5608', '5609', '6416']

In [24]:
joined_df[(joined_df["hierarchy_apex"] == "STAT")]

,type,symbol,bioentity,ncbigene_id,hierarchy_levels,hierarchy_apex,level_number
283,HGNC,STAT1,STAT,6772,[STAT],STAT,1
284,HGNC,STAT2,STAT,6773,[STAT],STAT,1
285,HGNC,STAT3,STAT,6774,[STAT],STAT,1
286,HGNC,STAT4,STAT,6775,[STAT],STAT,1
287,HGNC,STAT5A,STAT5,6776,"[STAT, STAT5]",STAT,2
288,HGNC,STAT5B,STAT5,6777,"[STAT, STAT5]",STAT,2
289,HGNC,STAT6,STAT,6778,[STAT],STAT,1
290,BE,STAT5,STAT,6776,[STAT],STAT,1

In [25]:
joined_df[
    (joined_df["hierarchy_apex"] == "STAT") & (joined_df["type"] == "BE")
][["bioentity", "type", "symbol"]]

    bioentity type symbol
290      STAT   BE  STAT5

In [26]:
joined_df[(joined_df["hierarchy_apex"] == "STAT")][
    "ncbigene_id"
].sort_values().dropna().to_list()

['6772', '6773', '6774', '6775', '6776', '6776', '6777', '6778']

## OLD

In [25]:
joined_df[(joined_df["bioentities"].str.startswith("STAT"))]

,type,symbol,bioentities,ncbigene_id,hierarchy_path,top_ancestor,hierarchy_levels,hierarchy_apex,level_number
283,HGNC,STAT1,STAT,6772,[STAT],STAT,[STAT],STAT,1
284,HGNC,STAT2,STAT,6773,[STAT],STAT,[STAT],STAT,1
285,HGNC,STAT3,STAT,6774,[STAT],STAT,[STAT],STAT,1
286,HGNC,STAT4,STAT,6775,[STAT],STAT,[STAT],STAT,1
287,HGNC,STAT5A,STAT5,6776,"[STAT, STAT5]",STAT,"[STAT, STAT5]",STAT,2
288,HGNC,STAT5B,STAT5,6777,"[STAT, STAT5]",STAT,"[STAT, STAT5]",STAT,2
289,HGNC,STAT6,STAT,6778,[STAT],STAT,[STAT],STAT,1
290,BE,STAT5,STAT,6776,[STAT],STAT,[STAT],STAT,1

In [331]:
joined_df[(joined_df["bioentities"].str.startswith("STAT"))]

,type,symbol,bioentities,ncbigene_id,genealogy,genealogy_chunks,top_ancestor
283,HGNC,STAT1,STAT,6772,STAT,[STAT],STAT
284,HGNC,STAT2,STAT,6773,STAT,[STAT],STAT
285,HGNC,STAT3,STAT,6774,STAT,[STAT],STAT
286,HGNC,STAT4,STAT,6775,STAT,[STAT],STAT
287,HGNC,STAT5A,STAT5,6776,"STAT,STAT5","[STAT, STAT5]",STAT
288,HGNC,STAT5B,STAT5,6777,"STAT,STAT5","[STAT, STAT5]",STAT
289,HGNC,STAT6,STAT,6778,STAT,[STAT],STAT
290,BE,STAT5,STAT,6776,STAT,[STAT],STAT

MAP2K == MEK == MAPKK

In [335]:
joined_df[
    (joined_df["bioentities"] == "MAP2K")
    | (joined_df["bioentities"] == "MAPKK")
    | (joined_df["bioentities"] == "MEK")
    | (joined_df["symbol"].str.startswith("MAP2K"))
    | (joined_df["symbol"].str.startswith("MAPKK"))
    | (joined_df["symbol"].str.startswith("MEK"))
]

,type,symbol,bioentities,ncbigene_id,genealogy,genealogy_chunks,top_ancestor
623,HGNC,MAP2K1,MEK,5604,"MAPKK,MAP2K,MEK","[MAPKK, MAP2K, MEK]",MAPKK
624,HGNC,MAP2K2,MEK,5605,"MAPKK,MAP2K,MEK","[MAPKK, MAP2K, MEK]",MAPKK
625,BE,MEK,MAP2K,NaN,"MAPKK,MAP2K","[MAPKK, MAP2K]",MAPKK
626,HGNC,MAP2K3,MAP2K,5606,"MAPKK,MAP2K","[MAPKK, MAP2K]",MAPKK
627,HGNC,MAP2K4,MAP2K,6416,"MAPKK,MAP2K","[MAPKK, MAP2K]",MAPKK
628,HGNC,MAP2K5,MAP2K,5607,"MAPKK,MAP2K","[MAPKK, MAP2K]",MAPKK
629,HGNC,MAP2K6,MAP2K,5608,"MAPKK,MAP2K","[MAPKK, MAP2K]",MAPKK
630,HGNC,MAP2K7,MAP2K,5609,"MAPKK,MAP2K","[MAPKK, MAP2K]",MAPKK
2240,BE,MAP2K,MAPKK,NaN,MAPKK,[MAPKK],MAPKK

In [330]:
joined_df[joined_df["bioentities"] == joined_df["top_ancestor"]]

,type,symbol,bioentities,ncbigene_id,genealogy,genealogy_chunks,top_ancestor
0,HGNC,EIF4EBP1,EIF4EBP,1978,EIF4EBP,[EIF4EBP],EIF4EBP
1,HGNC,EIF4EBP2,EIF4EBP,1979,EIF4EBP,[EIF4EBP],EIF4EBP
2,HGNC,EIF4EBP3,EIF4EBP,8637,EIF4EBP,[EIF4EBP],EIF4EBP
3,HGNC,ACTA1,Actin,58,Actin,[Actin],Actin
4,HGNC,ACTA2,Actin,59,Actin,[Actin],Actin
...,...,...,...,...,...,...,...
2296,HGNC,ITGB4,Integrin,3691,Integrin,[Integrin],Integrin
2297,HGNC,ITGB5,Integrin,3693,Integrin,[Integrin],Integrin
2298,HGNC,ITGB6,Integrin,3694,Integrin,[Integrin],Integrin
2299,HGNC,ITGB7,Integrin,3695,Integrin,[Integrin],Integrin
2300,HGNC,ITGB8,Integrin,3696,Integrin,[Integrin],Integrin

In [312]:
joined_df[
    (joined_df["genealogy"].str.contains(","))
    & (joined_df["genealogy"].notnull())
]

      type  symbol bioentities ncbigene_id           genealogy
14    HGNC   INHBA   Activin_A        3624   Activin,Activin_A
15    HGNC   INHBA  Activin_AB        3624  Activin,Activin_AB
16    HGNC   INHBB  Activin_AB        3625  Activin,Activin_AB
17    HGNC   INHBB   Activin_B        3625   Activin,Activin_B
18    HGNC    INHA   Inhibin_A        3623   Inhibin,Inhibin_A
...    ...     ...         ...         ...                 ...
2158  HGNC  CDKN1C       CDKN1        1028          CDKN,CDKN1
2159  HGNC  CDKN2A       CDKN2        1029          CDKN,CDKN2
2160  HGNC  CDKN2B       CDKN2        1030          CDKN,CDKN2
2161  HGNC  CDKN2C       CDKN2        1031          CDKN,CDKN2
2162  HGNC  CDKN2D       CDKN2        1032          CDKN,CDKN2

[354 rows x 5 columns]

In [265]:
i = 0
myd = dict()

for bioentities, df in joined_df[joined_df["type"] == "BE"].groupby(
    "bioentities"
):
    result = get_parents(bioentities)
    if len(result) > 0:
        print(result)
    #    print(bioentities)
    #    print(df)
    #    mysd = dict()
    #    myd["bioentities"] = mysd

    #    parent = joined_df[joined_df["symbol"] == bioentities]
    #    has_parent = len(parent) > 0
    #    print(has_parent)

    #    for s in df["symbol"].to_list():
    #        children = joined_df[joined_df["bioentities"] == s]
    #        mysd["children"] = children
    #        has_children = len(children) > 0
    #        print(has_children)
    #        # print(j)
    #        # print(s)
    #        # display(joined_df[joined_df["bioentities"] == s])
    i += 1
    if int(i) > 100:
        break

AMPK
AP1
ATP_synthase
Actin
Activin
Apolipoprotein
CAMK
CDKN
COX
Caspase
Chemokine
Cyclin
GRK
Galpha
HDAC
HIF
HSP90
HSP90A
['HSP90']
HSP90
['HSP90']
Inhibin
['HSP90']
Interferon
['HSP90']
MAP2K
['MAPKK']
MAPKK
['MAPKK', 'HSP90']
MAP3K
['MAPKK', 'HSP90']
MAPK
['MAPKK', 'HSP90']
MAPKK
['MAPKK', 'HSP90']
MYL
['MAPKK', 'HSP90']
NFKB
['MAPKK', 'HSP90']
NRG
['MAPKK', 'HSP90']
Na_K_ATPase
['MAPKK', 'HSP90']
PDE
['MAPKK', 'HSP90']
PI3K
['MAPKK', 'HSP90']
PIK3R_I
['PI3K']
PI3K
['PI3K', 'MAPKK', 'HSP90']
PKA
['PI3K', 'MAPKK', 'HSP90']
PLA2
['PI3K', 'MAPKK', 'HSP90']
PLC
['PI3K', 'MAPKK', 'HSP90']
PPP1
['PI3K', 'MAPKK', 'HSP90']
PPP2
['PI3K', 'MAPKK', 'HSP90']
PPP3
['PI3K', 'MAPKK', 'HSP90']
RSK
['PI3K', 'MAPKK', 'HSP90']
SMAD
['PI3K', 'MAPKK', 'HSP90']
STAT
['PI3K', 'MAPKK', 'HSP90']
Troponin
['PI3K', 'MAPKK', 'HSP90']
Tubulin
['PI3K', 'MAPKK', 'HSP90']

In [226]:
multicol1 = pd.MultiIndex.from_tuples([("weight", "kg"), ("weight", "pounds")])
df_multi_level_cols1 = pd.DataFrame(
    [[1, 2], [2, 4]], index=["cat", "dog"], columns=multicol1
)
df_multi_level_cols1

    weight
        kg pounds
cat      1      2
dog      2      4

In [227]:
df_multi_level_cols1.stack()

            weight
cat kg           1
    pounds       2
dog kg           2
    pounds       4

In [229]:
multi_df = joined_df.copy().set_index(["bioentities", "symbol"])
multi_df

                      type ncbigene_id
bioentities symbol
EIF4EBP     EIF4EBP1  HGNC        1978
            EIF4EBP2  HGNC        1979
            EIF4EBP3  HGNC        8637
Actin       ACTA1     HGNC          58
            ACTA2     HGNC          59
...                    ...         ...
Integrin    ITGB4     HGNC        3691
            ITGB5     HGNC        3693
            ITGB6     HGNC        3694
            ITGB7     HGNC        3695
            ITGB8     HGNC        3696

[2301 rows x 2 columns]

In [237]:
multi_df.loc["STAT"]

        type ncbigene_id
symbol
STAT1   HGNC        6772
STAT2   HGNC        6773
STAT3   HGNC        6774
STAT4   HGNC        6775
STAT6   HGNC        6778
STAT5     BE        6776

In [230]:
multi_df.columns

Index(['type', 'ncbigene_id'], dtype='object')

In [234]:
multi_df.index[0][0]

'EIF4EBP'

In [225]:
joined_df[joined_df["type"] == "BE"]

     type      symbol bioentities ncbigene_id
9      BE   Activin_A     Activin         NaN
10     BE  Activin_AB     Activin         NaN
11     BE   Activin_B     Activin         NaN
12     BE   Inhibin_A     Inhibin         NaN
13     BE   Inhibin_B     Inhibin         NaN
...   ...         ...         ...         ...
2127   BE  Troponin_I    Troponin         NaN
2128   BE  Troponin_T    Troponin         NaN
2163   BE       CDKN1        CDKN        1026
2164   BE       CDKN2        CDKN        1029
2240   BE       MAP2K       MAPKK         NaN

[102 rows x 4 columns]

In [222]:
joined_df[(joined_df["ncbigene_id"].notnull()) & (joined_df["type"] == "BE")]

     type  symbol   bioentities ncbigene_id
190    BE     ERK          MAPK        2048
290    BE   STAT5          STAT        6776
374    BE    TUBB       Tubulin      203068
375    BE    TUBG       Tubulin        7283
498    BE    IFNA    Interferon        3440
499    BE    IFNB    Interferon        3456
710    BE     p38          MAPK        7965
952    BE    COX4           COX        1327
953    BE   COX6A           COX        1337
954    BE   COX6B           COX        1340
955    BE   COX7A           COX        1346
956    BE   COX7B           COX        1349
957    BE    COX8           COX        1351
1293   BE     JNK          MAPK        5599
1457   BE  PLA2G4          PLA2        5321
1997   BE   ATP1B   Na_K_ATPase         481
2052   BE   ATP5G  ATP_synthase         516
2163   BE   CDKN1          CDKN        1026
2164   BE   CDKN2          CDKN        1029

In [315]:
joined_df[joined_df["genealogy"].str.contains("Inhibin")]

    type     symbol bioentities ncbigene_id          genealogy
12    BE  Inhibin_A     Inhibin         NaN            Inhibin
13    BE  Inhibin_B     Inhibin         NaN            Inhibin
18  HGNC       INHA   Inhibin_A        3623  Inhibin,Inhibin_A
19  HGNC      INHBA   Inhibin_A        3624  Inhibin,Inhibin_A
20  HGNC       INHA   Inhibin_B        3623  Inhibin,Inhibin_B
21  HGNC      INHBB   Inhibin_B        3625  Inhibin,Inhibin_B

In [316]:
joined_df[joined_df["genealogy"] == joined_df["bioentities"]]

      type    symbol bioentities ncbigene_id genealogy
0     HGNC  EIF4EBP1     EIF4EBP        1978   EIF4EBP
1     HGNC  EIF4EBP2     EIF4EBP        1979   EIF4EBP
2     HGNC  EIF4EBP3     EIF4EBP        8637   EIF4EBP
3     HGNC     ACTA1       Actin          58     Actin
4     HGNC     ACTA2       Actin          59     Actin
...    ...       ...         ...         ...       ...
2296  HGNC     ITGB4    Integrin        3691  Integrin
2297  HGNC     ITGB5    Integrin        3693  Integrin
2298  HGNC     ITGB6    Integrin        3694  Integrin
2299  HGNC     ITGB7    Integrin        3695  Integrin
2300  HGNC     ITGB8    Integrin        3696  Integrin

[1947 rows x 5 columns]

In [323]:
joined_df[joined_df["genealogy"] == joined_df["bioentities"]]

      type    symbol bioentities ncbigene_id genealogy
0     HGNC  EIF4EBP1     EIF4EBP        1978   EIF4EBP
1     HGNC  EIF4EBP2     EIF4EBP        1979   EIF4EBP
2     HGNC  EIF4EBP3     EIF4EBP        8637   EIF4EBP
3     HGNC     ACTA1       Actin          58     Actin
4     HGNC     ACTA2       Actin          59     Actin
...    ...       ...         ...         ...       ...
2296  HGNC     ITGB4    Integrin        3691  Integrin
2297  HGNC     ITGB5    Integrin        3693  Integrin
2298  HGNC     ITGB6    Integrin        3694  Integrin
2299  HGNC     ITGB7    Integrin        3695  Integrin
2300  HGNC     ITGB8    Integrin        3696  Integrin

[1947 rows x 5 columns]

0        EIF4EBP
1        EIF4EBP
2        EIF4EBP
3          Actin
4          Actin
          ...
2296    Integrin
2297    Integrin
2298    Integrin
2299    Integrin
2300    Integrin
Name: genealogy_chunks, Length: 2301, dtype: object

In [314]:
joined_df[
    (joined_df["bioentities"] == "Inhibin")
    | (joined_df["bioentities"] == "inhibin")
    | (joined_df["symbol"].str.startswith("Inhibin"))
    | (joined_df["symbol"].str.startswith("INHBE"))
    | (joined_df["symbol"].str.startswith("inhibin"))
]

   type     symbol bioentities ncbigene_id genealogy
12   BE  Inhibin_A     Inhibin         NaN   Inhibin
13   BE  Inhibin_B     Inhibin         NaN   Inhibin

In [215]:
joined_df[joined_df["symbol"].str.startswith("Activin")]

   type      symbol bioentities ncbigene_id
9    BE   Activin_A     Activin         NaN
10   BE  Activin_AB     Activin         NaN
11   BE   Activin_B     Activin         NaN

0

In [173]:
set(bioentities_df["type"].to_list())

{'BE', 'HGNC', 'UP'}

In [194]:
bioentities_df[bioentities_df["type"] == "BE"]

     type      symbol bioentities
9      BE   Activin_A     Activin
10     BE  Activin_AB     Activin
11     BE   Activin_B     Activin
12     BE   Inhibin_A     Inhibin
13     BE   Inhibin_B     Inhibin
...   ...         ...         ...
2136   BE  Troponin_I    Troponin
2137   BE  Troponin_T    Troponin
2172   BE       CDKN1        CDKN
2173   BE       CDKN2        CDKN
2249   BE       MAP2K       MAPKK

[102 rows x 3 columns]

In [197]:
bioentities_df[bioentities_df["bioentities"] == "CDKN"]

      type symbol bioentities
2172    BE  CDKN1        CDKN
2173    BE  CDKN2        CDKN
2174  HGNC  CDKN3        CDKN

In [199]:
hgnc_df[hgnc_df["value"] == "CDKN1"]

             hgnc ncbigene         variable  value
176696  HGNC:1784     1026  previous_symbol  CDKN1

In [204]:
ncbigene_ids_by_symbol = (
    hgnc_df[["ncbigene_id", "value"]]
    .set_index("value")
    .to_dict()["ncbigene_id"]
)

{'A1BG': '1',
 'RNA5SP48': '100873287',
 'RNA5SP49': '100873288',
 'RNA5SP50': '106478992',
 'RNA5SP51': '100873289',
 'RNA5SP52': '100873290',
 'RNA5SP53': '100873291',
 'RNA5SP54': '100873292',
 'RNA5SP55': '100873293',
 'RNA5SP56': '100873294',
 'RNA5SP57': '106480754',
 'RNA5SP59': '106480357',
 'RNA5SP60': '100873295',
 'RNA5SP61': '100873296',
 'RNA5SP62': '100873297',
 'RNA5SP63': '100873298',
 'RNA5SP47': '100873286',
 'RNA5SP46': '100873285',
 'RNA5SP45': '100873284',
 'RNA5SP44': '100873283',
 'RNA5SP27': '100873359',
 'RNA5SP28': '100873360',
 'RNA5SP29': '100873361',
 'RNA5SP30': '100873362',
 'RNA5SP31': '100873363',
 'RNA5SP33': '100873365',
 'RNA5SP34': '100873366',
 'RNA5SP64': '100873299',
 'RNA5SP35': '100873367',
 'RNA5SP37': '100873369',
 'RNA5SP38': '100873370',
 'RNA5SP39': '100873371',
 'RNA5SP40': '100873279',
 'RNA5SP41': '100873280',
 'RNA5SP42': '100873281',
 'RNA5SP43': '100873282',
 'RNA5SP36': '100873368',
 'RNA5SP26': '100873358',
 'RNA5SP65': '100873300',
 'RNA5SP67': '100873302',
 'RNA5SP90': '100873323',
 'RNA5SP91': '100873324',
 'RNA5SP92': '100873325',
 'RNA5SP93': '100873326',
 'RNA5SP94': '100873327',
 'RNA5SP95': '100873328',
 'RNA5SP96': '100873329',
 'RNA5SP97': '100873330',
 'RNA5SP98': '100873331',
 'RNA5SP99': '106478993',
 'RNA5SP100': '106480755',
 'RNA5SP101': '100873372',
 'RNA5SP102': '100873373',
 'RNA5SP103': '100873374',
 'RNA5SP104': '100873375',
 'RNA5SP89': '100873322',
 'RNA5SP88': '100873321',
 'RNA5SP87': '100873320',
 'RNA5SP86': '100873319',
 'RNA5SP68': '100873303',
 'RNA5SP69': '100873304',
 'RNA5SP70': '106480436',
 'RNA5SP71': '100873305',
 'RNA5SP72': '100873306',
 'RNA5SP73': '100873307',
 'RNA5SP74': '100873308',
 'RNA5SP66': '100873301',
 'RNA5SP75': '100873309',
 'RNA5SP77': '100873311',
 'RNA5SP78': '100873312',
 'RNA5SP79': '100873313',
 'RNA5SP80': '100873314',
 'RNA5SP82': '100873316',
 'RNA5SP84': '100873317',
 'RNA5SP85': '100873318',
 'RNA5SP76': '100873310',
 'RNA5SP25': '100873357',
 'RNA5SP24': '100873356',
 'RNA5SP23': '100873278',
 'RN7SL850P': '106479532',
 'RN7SL851P': '106480537',
 'RN7SL853P': '106481153',
 'RN7SL854P': '106480383',
 'RN7SL856P': '106479533',
 'RN7SL860P': '106635537',
 'RN7SL861P': '106479534',
 'RN7SL862P': '106479535',
 'RN7SL863P': '106480538',
 'RN7SL864P': '106479536',
 'RN7SL865P': '106481154',
 'RN7SL868P': '106479537',
 'RN7SL869P': '106481864',
 'RN7SL870P': '106481155',
 'RNA5-8S1': '106632263',
 'RN7SL849P': '106479531',
 'RN7SL847P': '106481152',
 'RN7SL846P': '106479530',
 'RN7SL845P': '106481863',
 'RN7SL825P': '107080654',
 'RN7SL826P': '106479523',
 'RN7SL827P': '106481762',
 'RN7SL828P': '106481147',
 'RN7SL831P': '106481862',
 'RN7SL832P': '106479524',
 'RN7SL833P': '106479525',
 'RNA5-8S2': '106632262',
 'RN7SL834P': '106481148',
 'RN7SL836P': '106481149',
 'RN7SL837P': '106480536',
 'RN7SL838P': '106479527',
 'RN7SL840P': '106479528',
 'RN7SL841P': '106481150',
 'RN7SL842P': '106479529',
 'RN7SL843P': '106481151',
 'RN7SL835P': '106479526',
 'RNA5-8S3': '106632261',
 'RNA5-8S4': '110255166',
 'RNA5-8S5': '110255170',
 'RNA5S7': '100169758',
 'RNA5S8': '100169759',
 'RNA5S9': '100169760',
 'RNA5S10': '100169761',
 'RNA5S11': '100169762',
 'RNA5S12': '100169763',
 'RNA5S13': '100169764',
 'RNA5S6': '100169757',
 'RNA5S14': '100169765',
 'RNA5S16': '100169767',
 'RNA5S17': '100169768',
 'RNA5SP18': '100873273',
 'RNA5SP19': '100873274',
 'RNA5SP20': '100873275',
 'RNA5SP21': '100873276',
 'RNA5SP22': '100873277',
 'RNA5S15': '100169766',
 'RNA5SP105': '100873376',
 'RNA5S5': '100169756',
 'RNA5S3': '100169754',
 'RNA5-8SN1': '106632260',
 'RNA5-8SN2': '109864281',
 'RNA5-8SN3': '109910381',
 'RNA5-8SN4': '109864274',
 'RNA5-8SN5': '100008587',
 'RNA5-8SP2': '100873571',
 'RNA5-8SP3': '100873334',
 'RNA5S4': '100169755',
 'RNA5-8SP4': '100873572',
 'RNA5-8SP6': '100873336',
 'RNA5-8SP7': '100873573',
 'RNA5-8SP8': '109864278',
 'RNA5-8SP9': '109864276',
 'RNA5-8SP10': '109910384',
 'RNA5S1': '100169751',
 'RNA5S2': '100169753',
 'RNA5-8SP5': '100873335',
 'RNA5SP106': '106478994',
 'RNA5SP107': '100873377',
 'RNA5SP108': '100873378',
 'RNA5SP208': '100873468',
 'RNA5SP209': '100873469',
 'RNA5SP210': '100873470',
 'RNA5SP211': '100873471',
 'RNA5SP212': '100873472',
 'RNA5SP213': '100873473',
 'RNA5SP214': '100873474',
 'RNA5SP215': '100873475',
 'RNA5SP216': '100873476',
 'RNA5SP217': '100873477',
 'RNA5SP218': '100873478',
 'RNA5SP219': '100873479',
 'RNA5SP220': '100873480',
 'RNA5SP221': '106480759',
 'RNA5SP222': '100873481',
 'RNA5SP207': '100873467',
 'RNA5SP206': '106478999',
 'RNA5SP205': '100873466',
 'RNA5SP204': '100873465',
 'RNA5SP188': '100873450',
 'RNA5SP189': '100873451',
 'RNA5SP190': '100873452',
 'RNA5SP191': '100873453',
 'RNA5SP192': '100873454',
 'RNA5SP193': '100873455',
 'RNA5SP194': '100873456',
 'RNA5SP223': '100873482',
 'RNA5SP195': '100873457',
 'RNA5SP197': '100873459',
 'RNA5SP198': '100873460',
 'RNA5SP199': '106480438',
 'RNA5SP200': '100873461',
 'RNA5SP201': '100873462',
 'RNA5SP202': '100873463',
 'RNA5SP203': '100873464',
 'RNA5SP196': '100873458',
 'RNA5SP224': '100873483',
 'RNA5SP225': '100873484',
 'RNA5SP226': '106479000',
 'RNA5SP247': '100873503',
 'RNA5SP248': '100873504',
 'RNA5SP249': '100873505',
 'RNA5SP250': '100873506',
 'RNA5SP251': '100873507',
 'RNA5SP252': '100873508',
 'RNA5SP253': '106480760',
 'RNA5SP246': '100873502',
 'RNA5SP254': '106481793',
 'RNA5SP256': '100873510',
 'RNA5SP257': '100873511',
 'RNA5SP258': '100873512',
 'RNA5SP259': '100873513',
 'RNA5SP260': '100873514',
 'RNA5SP261': '100873515',
 'RNA5SP262': '100873516',
 'RNA5SP255': '100873509',
 'RNA5SP187': '100873449',
 'RNA5SP245': '100873501',
 'RNA5SP243': '106479001',
 'RNA5SP227': '100873485',
 'RNA5SP228': '100873486',
 'RNA5SP229': '100873487',
 'RNA5SP230': '100873488',
 'RNA5SP231': '100873489',
 'RNA5SP232': '100873490',
 'RNA5SP233': '100873491',
 'RNA5SP244': '100885864',
 'RNA5SP234': '100873492',
 'RNA5SP236': '100873494',
 'RNA5SP237': '100873495',
 'RNA5SP238': '100873496',
 'RNA5SP239': '100873497',
 'RNA5SP240': '100873498',
 'RNA5SP241': '100873499',
 'RNA5SP242': '100873500',
 'RNA5SP235': '100873493',
 'RN7SL824P': '106481146',
 'RNA5SP186': '100873448',
 'RNA5SP184': '100873446',
 'RNA5SP129': '100873399',
 'RNA5SP130': '106478995',
 'RNA5SP131': '100873400',
 'RNA5SP132': '100873401',
 'RNA5SP133': '100873402',
 'RNA5SP134': '106480756',
 'RNA5SP135': '100873403',
 'RNA5SP136': '100873404',
 'RNA5SP137': '100873405',
 'RNA5SP138': '100873406',
 'RNA5SP139': '100873407',
 'RNA5SP140': '106478996',
 'RNA5SP141': '100873408',
 'RNA5SP142': '100873409',
 'RNA5SP143': '100873410',
 'RNA5SP128': '100873398',
 'RNA5SP127': '100873397',
 'RNA5SP126': '100873396',
 'RNA5SP125': '100873395',
 'RNA5SP109': '100873379',
 'RNA5SP110': '100873380',
 'RNA5SP111': '100873381',
 'RNA5SP112': '100873382',
 'RNA5SP113': '100873383',
 'RNA5SP114': '100873384',
 'RNA5SP115': '100873385',
 'RNA5SP144': '100873411',
 'RNA5SP116': '100873386',
 'RNA5SP118': '100873388',
 'RNA5SP119': '100873389',
 'RNA5SP120': '100873390',
 'RNA5SP121': '100873391',
 'RNA5SP122': '100873392',
 'RNA5SP123': '100873393',
 'RNA5SP124': '100873394',
 'RNA5SP117': '100873387',
 'RNA5SP145': '100873412',
 'RNA5SP146': '100873413',
 'RNA5SP147': '100873414',
 'RNA5SP168': '100873433',
 'RNA5SP169': '100873434',
 'RNA5SP170': '100873435',
 'RNA5SP171': '100873436',
 'RNA5SP172': '106478997',
 'RNA5SP173': '100873437',
 'RNA5SP174': '106478998',
 'RNA5SP167': '100873432',
 'RNA5SP175': '106480758',
 'RNA5SP177': '100873439',
 'RNA5SP178': '100873440',
 'RNA5SP179': '100873441',
 'RNA5SP180': '100873442',
 'RNA5SP181': '100873443',
 'RNA5SP182': '100873444',
 'RNA5SP183': '100873445',
 'RNA5SP176': '100873438',
 'RNA5SP185': '100873447',
 'RNA5SP166': '100873431',
 'RNA5SP164': '100873429',
 'RNA5SP148': '100873415',
 'RNA5SP149': '106480437',
 'RNA5SP150': '100873416',
 'RNA5SP151': '100873417',
 'RNA5SP152': '100873418',
 'RNA5SP153': '100873419',
 'RNA5SP154': '100873420',
 'RNA5SP165': '100873430',
 'RNA5SP155': '100873421',
 'RNA5SP157': '100873423',
 'RNA5SP158': '100873424',
 'RNA5SP159': '100873425',
 'RNA5SP160': '100873426',
 'RNA5SP161': '106480757',
 'RNA5SP162': '100873427',
 'RNA5SP163': '100873428',
 'RNA5SP156': '100873422',
 'RN7SL823P': '106479522',
 'RN7SL822P': '106479521',
 'RN7SL820P': '106480535',
 'RN7SL554P': '106479423',
 'RN7SL555P': '106479424',
 'RN7SL556P': '106481073',
 'RN7SL557P': '106479425',
 'RN7SL558P': '106481074',
 'RN7SL559P': '106481849',
 'RN7SL560P': '106479426',
 'RN7SL561P': '106481075',
 'RN7SL563P': '106479427',
 'RN7SL564P': '106479428',
 'RN7SL565P': '106481076',
 'RN7SL566P': '106481850',
 'RN7SL567P': '106481976',
 'RN7SL568P': '106479429',
 'RN7SL569P': '106481077',
 'RN7SL553P': '106480518',
 'RN7SL552P': '106481072',
 'RN7SL551P': '106479422',
 'RN7SL549P': '106481071',
 'RN7SL524P': '106481066',
 'RN7SL525P': '106480516',
 'RN7SL526P': '106479415',
 'RN7SL530P': '106481067',
 'RN7SL531P': '106479416',
 'RN7SL535P': '106479417',
 'RN7SL536P': '106481068',
 'RN7SL570P': '106479430',
 'RN7SL538P': '106480517',
 'RN7SL541P': '106481069',
 'RN7SL542P': '106479419',
 'RN7SL543P': '106480378',
 'RN7SL544P': '106481070',
 'RN7SL545P': '106481848',
 'RN7SL546P': '106479420',
 'RN7SL547P': '106479421',
 'RN7SL539P': '106479418',
 'RN7SL571P': '106479431',
 'RN7SL573P': '106481078',
 'RN7SL574P': '106481079',
 'RN7SL602P': '106479441',
 'RN7SL604P': '106479442',
 'RN7SL605P': '106481087',
 'RN7SL606P': '106479443',
 'RN7SL607P': '106481088',
 'RN7SL608P': '106480521',
 'RN7SL610P': '106479444',
 'RN7SL601P': '106480520',
 'RN7SL612P': '106479445',
 'RN7SL615P': '106479446',
 'RN7SL616P': '106481090',
 'RN7SL617P': '106481852',
 'RN7SL618P': '106479447',
 'RN7SL619P': '106481091',
 'RN7SL620P': '106479448',
 'RN7SL621P': '106479449',
 'RN7SL614P': '106481089',
 'RN7SL523P': '106479414',
 'RN7SL600P': '106481086',
 'RN7SL597P': '106479440',
 'RN7SL575P': '106479432',
 'RN7SL577P': '106481080',
 'RN7SL578P': '106479433',
 'RN7SL580P': '106481081',
 'RN7SL581P': '106479434',
 'RN7SL582P': '106479435',
 'RN7SL583P': '106481082',
 'RN7SL598P': '106481759',
 'RN7SL584P': '106480519',
 'RN7SL586P': '106481083',
 'RN7SL587P': '106479437',
 'RN7SL589P': '106479438',
 'RN7SL591P': '106481084',
 'RN7SL592P': '106481851',
 'RN7SL594P': '106479439',
 'RN7SL596P': '106481085',
 'RN7SL585P': '106479436',
 'RN7SL622P': '106481092',
 'RN7SL521P': '106479413',
 'RN7SL519P': '106479412',
 'RN7SL452P': '106479387',
 'RN7SL453P': '106481046',
 'RN7SL454P': '106479388',
 'RN7SL455P': '106479389',
 'RN7SL456P': '106480511',
 'RN7SL457P': '106481047',
 'RN7SL459P': '106479390',
 'RN7SL460P': '106481048',
 'RN7SL461P': '106481844',
 'RN7SL462P': '106479391',
 'RN7SL464P': '106481049',
 'RN7SL465P': '106479392',
 'RN7SL466P': '106479393',
 'RN7SL468P': '106481050',
 'RN7SL469P': '106480512',
 'RN7SL451P': '106480377',
 'RN7SL449P': '106481045',
 'RN7SL448P': '106481843',
 'RN7SL447P': '106479386',
 'RN7SL426P': '106481842',
 'RN7SL428P': '106479379',
 'RN7SL429P': '106479380',
 'RN7SL430P': '106481040',
 'RN7SL431P': '106866913',
 'RN7SL432P': '106481041',
 'RN7SL434P': '106480509',
 'RN7SL470P': '106479394',
 'RN7SL435P': '106479381',
 'RN7SL440P': '106481042',
 'RN7SL441P': '106479383',
 'RN7SL442P': '106481043',
 'RN7SL443P': '106480510',
 'RN7SL444P': '106479384',
 'RN7SL445P': '106481044',
 'RN7SL446P': '106479385',
 'RN7SL438P': '106479382',
 'RN7SL471P': '106481051',
 'RN7SL472P': '106479395',
 'RN7SL473P': '106479396',
 'RN7SL498P': '106479405',
 'RN7SL499P': '106481059',
 'RN7SL500P': '106479406',
 'RN7SL502P': '106479407',
 'RN7SL503P': '106481060',
 'RN7SL504P': '106480515',
 'RN7SL505P': '106481758',
 'RN7SL497P': '106481846',
 'RN7SL507P': '106479408',
 'RN7SL509P': '106479409',
 'RN7SL510P': '106479410',
 'RN7SL513P': '106481062',
 'RN7SL515P': '106481063',
 'RN7SL516P': '106479411',
 'RN7SL517P': '106481064',
 'RN7SL518P': '106481847',
 'RN7SL508P': '106481061',
 'RN7SL520P': '106481065',
 'RN7SL496P': '106481058',
 'RN7SL494P': '106481057',
 'RN7SL474P': '106481052',
 'RN7SL475P': '106481845',
 'RN7SL477P': '106479397',
 'RN7SL478P': '106481053',
 'RN7SL479P': '106479398',
 'RN7SL480P': '106481757',
 'RN7SL481P': '106481054',
 'RN7SL495P': '106479404',
 'RN7SL482P': '106480513',
 'RN7SL484P': '106479400',
 'RN7SL487P': '106481055',
 'RN7SL488P': '106479401',
 'RN7SL489P': '106481056',
 'RN7SL491P': '106480514',
 'RN7SL492P': '106479402',
 'RN7SL493P': '106479403',
 'RN7SL483P': '106479399',
 'RNA5SP263': '106479002',
 'RN7SL623P': '106480522',
 'RN7SL625P': '106479450',
 'RN7SL752P': '106481127',
 'RN7SL753P': '106479496',
 'RN7SL754P': '106479497',
 'RN7SL756P': '106481128',
 'RN7SL757P': '106480530',
 'RN7SL759P': '106479498',
 'RN7SL760P': '106481129',
 'RN7SL761P': '106479499',
 'RN7SL762P': '106479500',
 'RN7SL763P': '106481130',
 'RN7SL764P': '106480531',
 'RN7SL766P': '106479501',
 'RN7SL767P': '106481131',
 'RN7SL769P': '106479502',
 'RN7SL771P': '106481132',
 'RN7SL751P': '106479495',
 'RN7SL750P': '106481126',
 'RN7SL749P': '106479494',
 'RN7SL748P': '106481125',
 'RN7SL726P': '106479488',
 'RN7SL727P': '106481121',
 'RN7SL728P': '106481857',
 'RN7SL731P': '107048981',
 'RN7SL732P': '106481122',
 'RN7SL733P': '106479489',
 'RN7SL734P': '106479490',
 'RN7SL774P': '106481761',
 'RN7SL735P': '106480529',
 'RN7SL737P': '106481123',
 'RN7SL738P': '106480695',
 'RN7SL740P': '106479491',
 'RN7SL741P': '106481124',
 'RN7SL743P': '106479492',
 'RN7SL744P': '106479493',
 'RN7SL745P': '106481858',
 'RN7SL736P': '107080652',
 'RN7SL775P': '106481859',
 'RN7SL776P': '106479503',
 'RN7SL778P': '106479504',
 'RN7SL802P': '106479513',
 'RN7SL803P': '106479514',
 'RN7SL804P': '106481140',
 'RN7SL806P': '106479515',
 'RN7SL807P': '106481141',
 'RN7SL808P': '106481861',
 'RN7SL809P': '106479516',
 'RN7SL801P': '106481139',
 'RN7SL810P': '106481142',
 'RN7SL812P': '106479518',
 'RN7SL813P': '106480534',
 'RN7SL814P': '106481143',
 'RN7SL815P': '106479519',
 'RN7SL817P': '106481144',
 'RN7SL818P': '106479520',
 'RN7SL819P': '106481145',
 'RN7SL811P': '106479517',
 'RN7SL725P': '106481120',
 'RN7SL800P': '106479512',
 'RN7SL798P': '106480533',
 'RN7SL782P': '106481133',
 'RN7SL783P': '106479505',
 'RN7SL784P': '106481134',
 'RN7SL785P': '106480532',
 'RN7SL786P': '106479506',
 'RN7SL787P': '106479507',
 'RN7SL788P': '106481135',
 'RN7SL799P': '106480382',
 'RN7SL789P': '106479508',
 'RN7SL791P': '106481860',
 'RN7SL792P': '106479509',
 'RN7SL793P': '106481137',
 'RN7SL794P': '106479510',
 'RN7SL795P': '106479511',
 'RN7SL796P': '107080653',
 'RN7SL797P': '106481138',
 'RN7SL790P': '106481136',
 'RN7SL624P': '106480379',
 'RN7SL724P': '106479487',
 'RN7SL720P': '106480528',
 'RN7SL653P': '106481101',
 'RN7SL654P': '106479461',
 'RN7SL655P': '106481102',
 'RN7SL656P': '106481760',
 'RN7SL657P': '107074708',
 'RN7SL658P': '106480524',
 'RN7SL659P': '106479462',
 'RN7SL660P': '106479463',
 'RN7SL663P': '106481103',
 'RN7SL664P': '106479464',
 'RN7SL665P': '106481104',
 'RN7SL666P': '106481854',
 'RN7SL667P': '106479465',
 'RN7SL668P': '106479466',
 'RN7SL670P': '106481105',
 'RN7SL652P': '106479460',
 'RN7SL650P': '106480523',
 'RN7SL649P': '106481100',
 'RN7SL648P': '106479459',
 'RN7SL627P': '106481093',
 'RN7SL628P': '106479451',
 'RN7SL629P': '106479452',
 'RN7SL630P': '106481094',
 'RN7SL632P': '106481095',
 'RN7SL633P': '106479453',
 'RN7SL634P': '106481096',
 'RN7SL671P': '106479467',
 'RN7SL635P': '106479454',
 'RN7SL638P': '106479455',
 'RN7SL640P': '106479456',
 'RN7SL643P': '106481098',
 'RN7SL644P': '106481853',
 'RN7SL645P': '106479457',
 'RN7SL646P': '106481099',
 'RN7SL647P': '106479458',
 'RN7SL636P': '106481097',
 'RN7SL672P': '106481106',
 'RN7SL673P': '106480525',
 'RN7SL674P': '106479468',
 'RN7SL702P': '106481114',
 'RN7SL703P': '106479479',
 'RN7SL704P': '106481115',
 'RN7SL705P': '106481856',
 'RN7SL706P': '106479480',
 'RN7SL708P': '106479481',
 'RN7SL709P': '106481116',
 'RN7SL700P': '106479478',
 'RN7SL711P': '106479482',
 'RN7SL713P': '106480381',
 'RN7SL714P': '106480527',
 'RN7SL715P': '106479483',
 'RN7SL716P': '106479484',
 'RN7SL717P': '106481118',
 'RN7SL718P': '106479485',
 'RN7SL719P': '106481119',
 'RN7SL712P': '106481117',
 'RN7SL722P': '106479486',
 'RN7SL698P': '106481113',
 'RN7SL693P': '106479477',
 'RN7SL675P': '106481107',
 'RN7SL676P': '106479469',
 'RN7SL677P': '106479470',
 'RN7SL678P': '106481108',
 'RN7SL679P': '106481855',
 'RN7SL680P': '106480380',
 'RN7SL681P': '106479471',
 'RN7SL697P': '106480526',
 'RN7SL683P': '106481109',
 'RN7SL685P': '106479473',
 'RN7SL687P': '106481110',
 'RN7SL688P': '106479474',
 'RN7SL689P': '106481111',
 'RN7SL690P': '106479475',
 'RN7SL691P': '106481112',
 'RN7SL692P': '106479476',
 'RN7SL684P': '106479472',
 'RNA5SP264': '100873517',
 'RNA5SP265': '100873518',
 'RNA5SP266': '100873519',
 'RNF187': '149603',
 'RNF207': '388591',
 'RNF207-AS1': '102724450',
 'RNF208': '727800',
 'RNF212': '285498',
 'RNF212B': '100507650',
 'RNF213': '57674',
 'RNF213-AS1': '100294362',
 'RNF214': '257160',
 'RNF215': '200312',
 'RNF216': '54476',
 'RNF216P1': '441191',
 'RNF217': '154214',
 'RNF217-AS1': '7955',
 'RNF220': '55182',
 'RNF186': '54546',
 'RNF185': '91445',
 'RNF183': '138065',
 'RNF182': '221687',
 'RNF149': '284996',
 'RNF150': '57484',
 'RNF151': '146310',
 'RNF152': '220441',
 'RNF152P1': '100419687',
 'RNF157': '114804',
 'RNF157-AS1': '100507218',
 'RNF222': '643904',
 'RNF165': '494470',
 'RNF167': '26001',
 'RNF168': '165918',
 'RNF169': '254225',
 'RNF170': '81790',
 'RNF175': '285533',
 'RNF180': '285671',
 'RNF181': '51255',
 'RNF166': '115992',
 'RNF223': '401934',
 'RNF224': '643596',
 'RNF225': '646862',
 'RNR5': '6056',
 'RNU1-1': '26871',
 'RNU1-2': '26870',
 'RNU1-3': '26869',
 'RNU1-4': '6060',
 'RNU1-5P': '107105261',
 'RNU1-6P': '106480152',
 'RNR4': '6055',
 'RNU1-7P': '106481952',
 'RNU1-11P': '26861',
 'RNU1-14P': '26859',
 'RNU1-15P': '26858',
 'RNU1-16P': '100873860',
 'RNU1-17P': '100873814',
 'RNU1-18P': '100873815',
 'RNU1-19P': '100873861',
 'RNU1-8P': '106481604',
 'RNF148': '378925',
 'RNR3': '6054',
 'RNR1': '6052',
 'RNF227': '284023',
 'RNFT1': '51136',
 'RNFT1-DT': '101927755',
 'RNFT1P1': '100420886',
 'RNFT1P2': '100132264',
 'RNFT2': '84900',
 'RNGTT': '8732',
 'RNR2': '6053',
 'RNGTTP1': '100421428',
 'RNLS': '55328',
 'RNMT': '8731',
 'RNPC3': '55599',
 'RNPC3P1': '654340',
 'RNPEP': '6051',
 'RNPEPL1': '57140',
 'RNPS1': '10921',
 'RNH1': '6050',
 'RNU1-20P': '100873816',
 'RNF146': '81847',
 'RNF144B': '255488',
 'RNF7P1': '100506872',
 'RNF8': '9025',
 'RNF10': '9921',
 'RNF10P1': '100419599',
 'RNF11': '26994',
 'RNF11P1': '100131695',
 'RNF11P2': '170543',
 'RNF13': '11342',
 'RNF14': '9604',
 'RNF14P1': '100129375',
 'RNF14P3': '100419643',
 'RNF14P4': '100419645',
 'RNF17': '56163',
 'RNF19A': '25897',
 'RNF19B': '127544',
 'RNF7': '9616',
 'RNF6P1': '100420924',
 'RNF6': '6049',
 'RNF5P1': '286140',
 'RNASEH1P3': '199827',
 'RNASEH2A': '10535',
 'RNASEH2B': '79621',
 'RNASEH2C': '84153',
 'RNASEH2CP1': '386608',
 'RNASEK': '440400',
 'RNASEK-C17orf49': '100529209',
 'RNF19BPX': '100419788',
 'RNASEL': '6041',
 'RND1': '27289',
 'RND2': '8153',
 'RND3': '390',
 'RNF2': '6045',
 'RNF2P1': '100132467',
 'RNF4': '6047',
 'RNF5': '6048',
 'RNASET2': '8635',
 'RNF19BPY': '100419722',
 'RNF20': '56254',
 'RNF25': '64320',
 'RNF122': '79845',
 'RNF123': '63891',
 'RNF125': '54941',
 'RNF126': '55658',
 'RNF126P1': '376412',
 'RNF128': '79589',
 'RNF130': '55819',
 'RNF121': '55298',
 'RNF133': '168433',
 'RNF138': '51444',
 'RNF138P1': '379013',
 'RNF138P2': '100419777',
 'RNF139': '11236',
 'RNF139-AS1': '101927612',
 'RNF141': '50862',
 'RNF144A': '9781',
 'RNF135': '84282',
 'RNF145': '153830',
 'RNF115': '27246',
 'RNF113B': '140432',
 'RNF26': '79102',
 'RNF31': '55072',
 'RNF32': '140545',
 'RNF32-AS1': '101927858',
 'RNF34': '80196',
 'RNF38': '152006',

In [200]:
hgnc_df[hgnc_df["hgnc"] == "HGNC:1784"]

             hgnc ncbigene         variable         value
9942    HGNC:1784     1026  approved_symbol        CDKN1A
176696  HGNC:1784     1026  previous_symbol         CDKN1
93319   HGNC:1784     1026     alias_symbol           P21
93325   HGNC:1784     1026     alias_symbol  p21Cip1/Waf1
93324   HGNC:1784     1026     alias_symbol       p21CIP1
93323   HGNC:1784     1026     alias_symbol         CAP20
93322   HGNC:1784     1026     alias_symbol          SDI1
93321   HGNC:1784     1026     alias_symbol          WAF1
93320   HGNC:1784     1026     alias_symbol          CIP1

In [198]:
bioentities_df[bioentities_df["symbol"] == "CDKN2"]

     type symbol bioentities
2173   BE  CDKN2        CDKN

In [195]:
bioentities_df[bioentities_df["bioentities"] == "Activin"]

   type      symbol bioentities
9    BE   Activin_A     Activin
10   BE  Activin_AB     Activin
11   BE   Activin_B     Activin

In [196]:
bioentities_df[bioentities_df["symbol"] == "Activin_A"]

  type     symbol bioentities
9   BE  Activin_A     Activin

In [174]:
bioentities_df[bioentities_df["type"] == "UP"]

    type  symbol  isa type2  bioentities
247   UP  P0C0S8  isa    BE  Histone_H2A
249   UP  P0C5Y9  isa    BE  Histone_H2A
264   UP  P04908  isa    BE  Histone_H2A
265   UP  Q6FI13  isa    BE  Histone_H2A
266   UP  P62807  isa    BE  Histone_H2B
285   UP  P68431  isa    BE   Histone_H3
286   UP  Q71DI3  isa    BE   Histone_H3
288   UP  P84243  isa    BE   Histone_H3
290   UP  P62805  isa    BE   Histone_H4

In [175]:
bioentities_df[bioentities_df["type2"] == "UP"]

Empty DataFrame
Columns: [type, symbol, isa, type2, bioentities]
Index: []

In [176]:
set(bioentities_df["type2"].to_list())

{'BE'}